.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background: beige;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.main-container > h1 {
  text-align: center;
  padding-top: 30px;
  color: #fd7b00;
  font-size: 62px;
  text-shadow: 2px 2px 10px #d0d3d4;
}

.form-container {
  margin: "30px auto";
  max-width: 500px;
  width: 100%;
  box-shadow: 5px 5px 20px #999;
  border-radius: 10px;
  padding: 30px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form-container label {
  display: block;
  color: #000;
  padding-bottom: 10px;
  font-size: large;
  font-weight: 500;
}

.form-container > div {
  width: 100%;
}

.query-input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  box-shadow: 1px 1px 5px #999;
  border: none;
  border-radius: 5px;
}
.no-of-questions-input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
}
.difficulty-input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  box-shadow: 1px 1px 5px #999;
  border: none;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-size: large;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #e67e22, #f1c40f);
  color: #fff;
  cursor: pointer;
}

.submit-button:hover {
  background: linear-gradient(to left, #e67e22, #f1c40f);
}
